@import "../../styles/variables";
@import "../../styles/stateMixins";
@import "../../styles/inputMixins";

.button {
  $button-border-width: 2px;
  $button-width: 140px;
  $button-bordered-width: 150px + (2 * $button-border-width);
  $button-height: 42px;
  $button-bordered-height: 35px + (2 * $button-border-width);

  width: $button-width;
  height: $button-height;
  font-size: 16px;
  padding: 0 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;

  &__loader {
    transform: scale(.4);
    position: absolute;
    top: calc(50% - 24px); // Loader size is 60, scale is *.4 = 24
    left: calc(50% - 24px);
  }

  &--ghost {
    @include state-is-ghost;
  }

  &--orange {
    background-image: linear-gradient(60deg, $color-tomato, $color-orange);

    &:hover {
      background: $color-orange;
      opacity: .9;
    }
  }

  &--sunflower {
    background-image: linear-gradient(60deg, $color-orange, $color-sunflower);

    &:hover {
      background: $color-sunflower;
      opacity: .9;
    }
  }

  &--grey-stroke {
    color: $color-grey;
    border: solid $button-border-width $color-lightgrey;
    background-color: $color-white;

    &:hover {
      border: solid $button-border-width $color-greyish-brown;
    }
  }

  &--disabled, &--loading {
    cursor: default;
    @include state-is-disabled;
  }

  &--inline {
    display: inline-flex;
    width: auto;
  }

  // different sizes
  &--size-s {
    height: 24px;
    font-size: 12px;
    position: relative;

    // will only work with layout border box :(
    .button__loader {
      position: absolute;
      top: -14px;
    }
  }
}
