// COLORS
// ======

$color-red: #f66;
$color-blue: #39f;
$color-black: #000;
$color-grey: #474747;
$color-lightgrey: #8c8c8c;
$color-white: #fff;
$color-black-transparent: rgba(0, 0, 0, 0);

// LAYERS
// ======

$z-datepicker: 1;
