// COLORS BY NAME
// ==============

$color-darkred: #b00;
$color-red: #ef2929;
$color-orange: #fcaf3e;
$color-yellow: #fce94f;
$color-lightgreen: #73d216;
$color-green: #4e9a06;
$color-blue: #729fcf;
$color-darkblue: #3465a4;
$color-black: #000;
$color-spacegrey: #2e3436;
$color-darkgrey: #555753;
$color-grey: #888a85;
$color-lightgrey: #d3d7cf;
$color-white: #fff;

// safari renders transparent gradient stops "with colors"
$color-black-transparent: rgba(0, 0, 0, 0);
$color-white-transparent: rgba(255, 255, 255, 0);

// COLORS BY FUNCTIONALITY
// =======================

$color-success: $color-green;
$color-warning: $color-orange;
$color-danger: $color-red;
$color-primary: $color-blue;
$color-secondary: $color-grey;
$color-link: $color-darkblue;

// LAYERS
// ======

$z-datepicker: 1;
